@media(max-width: 1280px){
    .pagina-principal{
       flex-direction: column;
       align-items: center;
    }

    .timeImage {
        width: 100vh;
    }

    .Downpage{
        margin-top: 700px;
    }

    .lista-de-imagens{
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        margin: 10px 70px 10px 70px;
    }

    .imagem-predio img{
        max-width: 200px;
    }
}